header {
  background-color: #333;
  padding-top: 5px;

}

header h1 {
  font-size: 75px;
  font-family: Tahoma, Helvetica, Arial, Sans-Serif;
  text-align: center;
  color: #111 ;
  text-shadow: 0px 2px 3px #555;
}

/* Div that contains the entire application */
div#container {

}

/* Div that contains elements in the Left Container */
div#container div#leftContainer {

}

/* Div that contains elements in the Right Container */
div#container div#rightContainer {

}

/* Layout of the colors that can be selected for painting */
div#container div#leftContainer div#paintColors {

}

/* Layout of the colors that can be selected for painting */
div#container div#leftContainer div#selectedColorBox {

}

/* Div that contains the buttons */
div#container div#leftContainer div#buttonArea {

}

/* Assigns rules to the undo, clear, and erase buttons */
#buttons {

}

/* The border that outlines the paintable grid. This color can also change */
#border {

}

/* The grid that contains the paintable area */
#grid {

}