
/* Div that contains the entire application */.
.pixelPainter {
  background-color: #FFF;
  margin: 0 auto;

}

ul, ol, dl {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 24px;
  padding: 5px 10px;
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

/*main canvas */
#canvas {
  border: 0;
  margin: 0 auto;
  display: block;
  padding: 10px;
  float: right;
  margin-right: 10px;
  margin-top: 75px;

}

/*Content on the side ie: paint palette, buttons, and title */
.sidePiece {
  display: inline-block;
  width: 20%;
  height:100%;
  padding-left: 50px;
  padding-top: 20px;
}


/* Layout of the colors that can be selected for painting */
#paintColors {

}

/* Assigns rules to the undo, clear, and erase buttons */
#btnErase {
  width: 100px;
  height: 30px;
  padding: 10px;
  margin-top: 25px;
  margin-left: 40px;

}

#btnClear {
  width: 100px;
  height: 30px;
  padding: 10px;
}




