
/* Div that contains the entire application */.
.pixelPainter {
  background-color: #FFF;
  margin: 0 auto;

}

ul, ol, dl {
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

/*main canvas */
#canvas {
  border: 0;
  margin: 0 auto;
  display: block;
  padding: 10px;
  float: right;
  margin-right: 10px;
  margin-top: 75px;

}

/*Content on the side ie: paint palette, buttons, and title */
#sidePiece {
  display: inline-block;
  width: 20%;
  height:100%;
  padding-left: 25px;
  padding-top: 20px;
}

/* The title of the application */
#title {


}

/* Layout of the colors that can be selected for painting */
div#container div#leftContainer div#selectedColorBox {

}

/* Div that contains the buttons */
div#container div#leftContainer div#buttonArea {

}

/* Assigns rules to the undo, clear, and erase buttons */
#buttons {

}



/*Class 2*/
/* Right side of the page that contains the main canvas */
#canvas {
  border: 0;
  margin: 0 auto;
  display: inline-block;
  padding: 10px;
  float: right;
  margin-right: 10px;
  margin-top: 75px;

}

/* The border that outlines the paintable grid. This color can also change */
#border {
  width: 85%;
  height: 100%;
  padding: 15px;
  border-style: solid;
  border-width: 3px;
  position: absolute;
  margin-left: 225px;

}

